name: CICD Pipeline

on: 
  push: 
    branches: [ "main" ]


jobs:
  build:
    name: Compilation of the Project
    runs-on: self-hosted

    steps:
    - name: Checkout the project
      uses: actions/checkout@v4
      
    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with: 
        java-version: '17'
        distribution: 'temurin'
        cache: maven

    - name: Build with Maven
      run: mvn package

  trivy_scan:
    name: Scan With Trivy 
    runs-on: self-hosted
    needs: build

    steps:
    - name: Checkout the project
      uses: actions/checkout@v4

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: Boardgame
        path: target/*.jar

    - name: Scan Artifact with Trivy
      run: |
        trivy fs --format trivy-scan-report.json .

  sonar_scan:
    name: Scan with SonarQube
    runs-on: self-hosted
    needs: trivy_scan

    steps:
    - name: Checkout the project
      uses: actions/checkout@v4

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: Boardgame1
        path: target/*.jar

    - name: Checkout the project once again
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: SonarQube Scan
      uses: SonarSource/sonarqube-scan-action@v5.0.0
      env:
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        SONAR_HOST_URL: ${{ vars.SONAR_HOST_URL }}

    - name: SonarQube Quality Gate Check
      uses: sonarsource/sonarqube-quality-gate-action@master
      with:
        pollingTimeoutSec: 600
      env:
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        SONAR_HOST_URL: ${{ vars.SONAR_HOST_URL }}

    
  
